#title{
    display: inline-block;
    margin-left: 10px;
    color: white;
    font-size: 220%;
    text-shadow:
     -1px -1px 0 black,  
      5px -5px 0 black,
      -1px 1px 0 black,
       1px 1px 0 black;
}


input {
    font-size: 15px;
    border: 3px solid black;
    padding: 7px;
    padding-right: 200px;
    border-radius: 15px;
    margin-right: 10px;
}

input:hover{
    background-color: rgb(213, 213, 213);
}

button {
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
}

button:hover{
    background-color: #51a0c5;
    box-shadow: 3px 3px;
}

#navBar {
    font-size: 120%;
    background-color: #64ef6ba2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

#tabs a:hover {
    transition: .3s;
    color: white;
    text-shadow:
     -1px -1px 0 black,  
      2px -1px 0 black,
      -1px 2px 0 black,
       1px 1px 0 black;
}

#tabs{
    font-size: 115%;
}

#tabs a{
    color: black;
    text-align: center;
    padding-left: 50px;
}

#search {
    padding-top: 2.5px;
    padding-right: 200px;
}

#cart{
    margin-right: 15px;
    padding: 5px;
}

#cart:hover{
    transition: .3s;
    background-color: #5fe666;
}

#topPage{
    display: grid;
    grid-template-columns: auto 340px;
}

#promoted{
    border: 5px solid black;
    background-image: url("../public/ad1.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 300px 0px;
}

#popular{
    color: white;
    background-color: #c2e709a7;
    border: 5px solid rgb(255, 0, 251);
    padding: 300px 0px;
}

#products{
    color: white;
    background-color: rgba(255, 168, 127, 0.778);
    border: 5px solid blue;
    padding: 400px;
}

@media only screen and (min-width: 2000px) {
    body {
        display: flex;
        justify-content: center;
    }
    #root{
        width: 70%;
    }
    #topPage{
        grid-template-columns: auto 420px;
    }
    #popular{
        padding: 380px 0px;
    }
    #promoted{
        background-size: cover;
        padding: 380px 0px;
    }
    #products {
        padding: 380px 0px;
    }
}

@media only screen and (max-width: 1000px) {
    #navBar {
        flex-direction: column;
        text-align: center;
    }
    #search {
        padding-right: 0px;
    }
    #cart{
        text-align: center;
    }
    #topPage{
        grid-template-columns: auto;
    }
    #promoted{
        background-size: cover;
        padding: 150px 0px;
    }
    #products {
        padding: 500px 0px;
    }
}